
<div class="content">
  <nav class="navbar">
    <button type="button" class="btn " routerLink="/user" routerLinkActive="active">home</button>
    <button type="button" class="btn" routerLink="/h" routerLinkActive="active">help</button>

  </nav>
</div>
<div class="container-fluid">
  <div class="row border border-gray">
    <div id="left-section" class="">
      <div class="row">
        <nav class="nav">
          <div class="btn btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class=" btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-user"></span><br /> Reception</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-registration-mark"></span><br />  Registration</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-heart"></span><br />  Treatment</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="fa fa-stethoscope"></span> <br /> Consultation</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-dashboard"></span><br />  Dashboard</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-search"></span><br />  Search</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-list-alt"></span><br />  MQ Appointment</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button button type="button" routerLink="/kiosk" routerLinkActive="active" class="btn btn-info btn-lg"> <span class="fa fa-hospital-o custom"></span><br /> KIOSK</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-user"></span><br /> Single</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-tasks"></span><br /> Multi</button>
            </div>

            <div class="btn-group" role="group" aria-label="Third group">
              <button type="button" class="btn btn-info btn-lg"> <span class="fa fa-hospital-o custom"></span><br /> Delay</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="forth group">
              <button type="button" class="btn btn-info btn-lg"> <span class=" flag-icon flag-icon-us flag-icon-squared"></span><br /> English</button>
              <button type="button" class="btn btn-info btn-lg"> <span class="flag-icon flag-icon-th flag-icon-squared"></span><br />  คนไทย</button>
            </div>
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>

